.menu{

}

.hero{

}

.ventajas{

}

.imagen1{

}

.caracteristicas{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
  }

.imagen2{

}

.tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.actionCall{
    display: flex;
}

.footer{

}

