.menu{

}

.hero{

}

.ventajas{

}

.imagen1{

}

.caracteristicas{

}

.imagen2{

}

.tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.actionCall{
    display: flex;
}

.footer{

}

