

.tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.actionCall{
    display: flex;
}

.footer{

}

@media screen and (max-width:600px){
    
}

@media screen and (min-width:601px) and (max-width:942px){
   
}

@media screen and (min-width:943px){
 
}